
@{
    ViewBag.Title = "Cuenta Creada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cuenta creada con éxito</h2>
<a href="/Home/InicioSesion">Volver a iniciar sesión</a>
<a href="/Home/Index">Volver a la página principal</a>

